:root {
    --gray0: #232426;
    --green: #04BF68;
    --brown0: #260816;
    --brown1: #BF9270;
    --brown2: #E3B7A0;
    --brown3: #EDCDBB;
    --brown4: #FFEDDB;

}

.light {
    --bg-col: var(--brown4);
    --global-col: var(--brown0);
    --time-bg: var(--brown0);
    --time-col: var(--brown2);
    --btn-col: var(--brown2);
    --btn-bg: var(--brown0);
}

.dark {
    --bg-col: var(--gray0);
    --global-col: var(--green);
    --time-bg: var(--green);
    --time-col: var(--gray0);
    --btn-col: var(--gray0);
    --btn-bg: var(--green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-col);
    color: var(--global-col);
    font-family: 'Montserrat',
        sans-serif;
    transition: background-color 500ms ease-in-out,
        color 1000ms ease-in-out;
}

.navbar-container {
    height: 30vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1.5rem;
    font-size: large;
    font-weight: bold;
}

a {
    color: currentColor;
    text-decoration: none;
}

.time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    padding: 4rem;
    background-color: var(--time-bg);
    margin: 0 30rem;
    border-radius: 2rem;
    color: var(--time-col);
}
/* 
input[type="number"]{
    font-size: 5rem;
    width: 7rem;
    background-color: var(--time-bg);
    border: none;
    text-align: right;
}

input[type="number"]:focus-within{
    border: none;
} */

footer {
    text-align: center;
    margin-top: 5rem;
    font-size: large;
}

footer a {
    text-decoration: underline;
    display: block;
}

.controllers {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 3rem;
    padding: 1rem 10rem;
    font-size: large;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
    color: var(--btn-col);
    background-color: var(--btn-bg);
    cursor: pointer;
}

.timeInput {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

#min{
    margin-right: 2rem;
}

input[type="number"]{
    font-size: large;
    text-align: center;
    padding: .3rem;
}

.control-buttons{
    padding: 1rem 1rem;
    margin: 0;
}

button:disabled {
    background-color: var(--btn-bg);
    color: var(--btn-col);
    opacity: .5;
    cursor: not-allowed;
}

#theme-btn {
    cursor: pointer;
}

.link {
    opacity: .5;
}

.link:hover {
    opacity: 1;
}


@media screen and (max-width: 1309px) {
    .time-container {
        font-size: 3rem;
        margin: 0rem 20rem;
    }
}

@media screen and (max-width: 873px) {
    .time-container {
        font-size: 2rem;
        margin: 0rem 10rem;
    }
}

@media screen and (max-width: 450px) {
    .time-container {
        font-size: 1.5rem;
        padding: 4rem;
        margin: 0rem 5rem;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }
}